@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	font-family: Nunito, sans-serif;
}

/* Video Background */
.video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	/* width: 100vw; */
	height: auto;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.video-overlay {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(255, 255, 255, 0.35);
}

/* Container */
.container {
	width: 80vw;
	max-width: 580px;
	min-height: 304px;
	color: black;
	margin: 0 auto;
	padding: 25px 50px;
	border-radius: 5px;
	z-index: 2;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, 0.85);
}

.input-container {
	position: relative;
	top: 20px;
}

h1 {
	font-size: 35px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

/* Form */
.form {
	width: 480px;
}

label {
	font-weight: bold;
	margin-left: 10px;
}

input {
	width: 95%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	background: #fff;
	outline: none;
	font-family: Nunito, sans-serif;
}

/* Button */
button {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	margin-top: 15px;
	border: none;
	text-transform: uppercase;
	background: #006959;
	color: white;
	cursor: pointer;
	outline: none;
}

button:hover {
	filter: brightness(110%);
}

/* Countdown */
ul {
	margin-left: -45px;
}

li {
	display: inline-block;
	font-size: 30px;
	list-style-type: none;
	padding: 10px;
	text-transform: uppercase;
}

li span {
	display: block;
	font-size: 80px;
	text-align: center;
}

/* Complete */
.complete {
	position: relative;
	top: 60px;
}

.complete-title {
	animation: complete 4s infinite;
}

@keyframes complete {
	0% {
		color: rgba(233, 13, 13);
	}

	25% {
		color: rgba(233, 211, 13);
	}

	50% {
		color: rgba(64, 233, 13);
		transform: scale(1.5);
	}

	75% {
		color: rgba(0, 38, 253);
	}

	100% {
		color: rgba(181, 16, 231);
	}
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
	.video-background {
		height: 100vh;
		width: 100vw;
	}

	video {
		object-fit: cover;
		object-position: 70%;
		margin-top: -1px;
	}

	.container {
		min-width: unset;
		width: 95vw;
		min-height: 245px;
		padding: 20px;
		margin: 10px;
	}

	.input-container {
		top: unset;
	}

	.countdown {
		font-size: 10px;
		position: relative;
		top: 10px;
	}

	.form {
		width: unset;
	}

	input {
		width: 93%;
	}

	h1 {
		font-size: 20px;
	}

	li {
		font-size: 15px;
	}

	li span {
		font-size: 40px;
	}
}
